.idea/*

# pycache directory
__pycache__/

# python virtual environments
.env
.venv
env/
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/
.vscode/*

# DevOps files and directories
deployment/*
**/Dockerfile
.gitlab-ci.yml
